body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

.theme {
  border-radius: 10px;
  padding: 30px;
  margin: 20px auto;
  width: 70%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.light {
  background-color: #f9f9f9;
  color: #333;
}
.light h2 {
  color: #007acc;
}
.dark {
  background-color: #1c1c1c;
  color: #f2f2f2;
}
.dark h2 {
  color: #ff9900;
}
.nature {
  background-color: #e3f2e1;
  color: #2f4f2f;
}
.nature h2 {
  color: #228b22;
}
